body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: #fdd;
}

#home h1 {
  font-size: 50px;
  text-align: center;
  font-family: Raleway, sans-serif;
  margin-top: 40vh;
}

#home {
  background-image: url("/assets/images/download.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin-bottom: 10vh;
  font-family: Raleway, sans-serif;
}

.home-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
}

.feature1 {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#feature1-text2 {
  background-image: url("/assets/images/flowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-family: Raleway, sans-serif;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.feature2 {
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.feature2 a {
  text-decoration: none;
}

.foot {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.time-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boredom {
  height: 150px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottomnav {
  background-color: rgba(238, 229, 229, 0.671);
  padding: 20px;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  columns: 4;
}

.nav a {
  color: #000;
  text-decoration: none;
  padding: 0 110px;
}

button button:hover {
  background-color: rgb(180, 208, 216);
}

button {
  text-align: center;
  background-color: rgb(190, 12, 12);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 65px;
  font-size: 20px;
}

button #details {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 65px;
  font-size: 20px;
}
